.navbar {
	background-color: #191919;

	// .navbar__container
	&__container {
	}
	// .navbar__items
	&__items {
		margin: 0px 0px 0px 80px;
		display: flex;
		min-height: 20px;
		font-size: 1.15rem;
		align-items: center;
		& *:not(:last-child) {
			margin: 0px 25px 0px 0px;
		}
		& * {
			&:hover {
				color: #fff;
			}
		}
	}
	// .navbar__item
	&__item {
		color: #6c3eb8;
		transition: all 0.3s ease 0s;
		cursor: pointer;
	}
}

.active {
	color: #fff;
}
